*{
  margin:0; 
  padding: 0
}

html,body {
  height: 100%;
  font-size: 16px;
  /* box-sizing: border-box; */
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  padding: 50px 0px 0px 0px;  
  background-color: #e0e0e0!important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  outline: none !important;
  box-shadow:none !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #aaa !important;
  font-weight: 300 !important;
  background-color: #fafafa !important;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus{
    color: black;
    border-radius: 0px  !important;
    background-color: #f1f1f1 !important;
    border-bottom: 1px solid #263238 !important;    
  }   

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: none;
    cursor: pointer;
  }

  /*
  input[type="checkbox"]{
    display: block !important;
  }  
  */
  
input:focus::-webkit-input-placeholder { color: rgb(179, 179, 179); }
input:focus:-moz-placeholder { color: rgba(0, 0, 0, 0.2); } /* FF 4-18 */
input:focus::-moz-placeholder { color: rgba(0, 0, 0, 0.2); } /* FF 19+ */
input:focus:-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); } /* IE 10+ */

/* I leave the browser's field autocomplete ability
turned off. In case that I want to turn it on, I will add:

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px #eee inset;
  -webkit-box-shadow: 0 0 0px 1000px #eee inset;
  transition: background-color 5000s ease-in-out 0s;
}
*/

.invalid-feedback{
  color: #b71c1c !important;
}

.is-invalid{
  border-color: #b71c1c !important;
}

.react-datepicker__input-container{
  display: block !important;
}