.create-flat{
  background-image: url('/assets/dsgn/bg/morning-sun.jpg');
  width: 100%;
  min-height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.szr-card-header{
  background-color: #263238 !important;
  color: white;
  font-weight: 200 !important;
  font-size: 1em;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-card-header{font-size: 1em;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .szr-card-header{font-size: 1.2em;}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .szr-card-header{font-size: 1.5em;}

}