.messages{
  background-image: url('/assets/dsgn/bg/fueller.jpg');
  width: 100%;
  height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/
  min-height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/  
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
