.home{
  background-image: url('/assets/dsgn/bg/backstein.jpg');
  width: 100%;
  min-height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.szr-home-title{
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.5em;
  font-weight: 300 !important;
}

.szr-home-subtitle{
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: 300 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-home-title{font-size: 1.5em;}

  .szr-home-subtitle{font-size: 1.2em;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .szr-home-title{font-size: 2em;}

  .szr-home-subtitle{font-size: 1.2em;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .szr-home-title{font-size: 2.5em;}

  .szr-home-subtitle{font-size: 1.5em;}
}