.profile{
  background-image: url('/assets/dsgn/bg/mb.jpg');
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
