.szr-no-image{
  background-image: url('/assets/dsgn/bg/door_sepia.jpg');
  min-width: 100%;
  min-height: 100%;
  height:200px;
  background-position:center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;  
}

.szr-no-image span {
  margin:auto;
  font-weight: 200;
}

.react-photo-gallery--gallery div {    
  margin: 0 auto;
  width: 100%;
}

/*

In case that I want to display image captions some day...

.footer_60scne{
  height: 40px !important;
  background-color: white !important;
  color: #263238 !important;
  padding: 5px !important;
  font-weight: normal !important;
  font-size: 1.5em !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

*/

