.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('/assets/dsgn/bg/room.jpg');
  width: 100%;
  height: calc(100vh - 50px) !important; /* Taking the Navbar into the calculation*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.szr-btn-hero{
  background-color: #607D8B !important;
}

.szr-welcome, .szr-smaller {font-weight: 200;}

.szr-welcome{font-size: 4em;}

.szr-smaller{font-size: 2em;}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-welcome{font-size: 6em;}

  .szr-smaller{font-size: 3em;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .szr-welcome{font-size: 8em;}

  .szr-smaller{font-size: 5em;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .szr-welcome{font-size: 8em;}

  .szr-smaller{font-size: 5em;}
}

/* Extra large devices (large desktops, 1200px and up)
// (you don't need this one unless you want something different from LG)
@media (min-width: 1200px) {
  html {
      font-size: 1.6rem;
  }
} */