.header{
  height: 50px;
  width: 100%;
  background-color: #263238!important;
  /* background-color: #004D40; */
  color: white;
  /* border-bottom: 2px solid #242424; */
  border-bottom: 1px solid #999;
  /* box-shadow: 1px 1px 2px black; */
}

.header .fa-bars{
  color: white !important;
  padding-top: 12px;
  font-size: 1.5em !important;
  cursor: pointer;
}

#szr-app-title{
  font-size: 2em !important;
  font-weight: 300;
  margin-top: 15px !important;
}