.szr-autocomplete-item{
  background-color: #ECEFF1 !important;
  padding-left: 10px;
}

.szr-autocomplete-item:hover{
  background-color: #546E7A !important;
  color: white;
}

.szr-autocomplete-container{
  z-index: 1000;
  width: 100%;
}


.szr-map-card-header{
  background-color: #009688 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .szr-map-card-header{font-size: 1em !important; }



}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .szr-map-card-header{font-size: 1em !important; }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .szr-map-card-header{font-size: 1em !important; }

}