.register{
  background-image: url('/assets/dsgn/bg/cactae.jpg');
  width: 100%;
  height: calc(100vh - 50px); /* Taking the Navbar into the calculation*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.szr-card-header{
  background-color: #263238 !important;
  color: white;
  font-weight: 200 !important;
  font-size: 2em;
}

