.szr-side-nav-item-list{
  font-weight: 300;
  font-size: 1.5em;
  color: #fff;
  padding:0;
}

.szr-side-nav-item-list a{
  color: white;
  text-decoration: none;
  display:block;
  border-bottom: 1px solid #004d40;
  cursor: pointer;
  padding: 12px 0;
}

.szr-side-nav-item-list a:hover{
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1px solid white;
}

/* Margin between icon and text*/
.szr-side-nav-item-list span{
  margin-right: 10px;
  padding:0;
}