.szr-file-creator{
  margin-top: 5px;
  font-size: 1.2em;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-file-creator{

  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .szr-file-creator{

  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .szr-file-creator{

  }
}